*.bak
*.diff
*.log
*.patch
*.tmp
*~

elnetw.cfg

# tools/
/tools/log
/tools/.classpath.cache

# For tools/package.sh
/elnetw-bin-*

# For Maven
/elnetw-*/target
/target

# For IDE
.project
.classpath
.settings/*
.idea/*
*.iml
